/*imported css*/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*CUSTOM CSS*/
body {
  background: #ccc;
  font-family: 'Press Start 2P', cursive;
}
.padding-0 {
  padding: 0!important;
}

/**********************************************
-------------- TO REMOVE CSS -----------------
**********************************************/
.progress {
  margin: 2% auto;
}
#my-card {
  padding: 20px;
  position: absolute;
  width: 250px;
  z-index: 15;
  top: 37%;
  left: 23%;
}
#my-card div.card {
  padding: 20px;
}
.btn-view {
  margin-top: 16px;
}

/**********************************************
-------------- TO REMOVE CSS -----------------
**********************************************/
.container-fluid {
  height: 100vh;
}
.content-row {
  height: 100%;
}

.left-side {
  background: #16151C;
  height: 100%;
}
.main-side {
  background: #fff;
  height: 100%;
}
/*side bar*/
#my-image {
  height: 250px;
  background: #BC5556;
}
.personal-datails > h3 {
  color: #6a6a6a;
}